<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en_address</key>
	<array>
		<string>00:00:00:00:00:00</string>
	</array>
	<key>generateduid</key>
	<array>
		<string>63A0C4D0-C3B6-486F-997F-4F9D68DEFAA8</string>
	</array>
	<key>hardwareuuid</key>
	<array>
		<string>DD24623B-37E9-48EE-A726-D2F284921882</string>
	</array>
	<key>name</key>
	<array>
		<string>local_laptop</string>
	</array>
	<key>realname</key>
	<array>
		<string>local_laptop</string>
	</array>
</dict>
</plist>
